@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}
main {
    height: 100vh;
    background: url(./shoe01.jpg) no-repeat center fixed;
    background-color: hsla(0, 0%, 0%, .55);
    background-size: cover;
    padding: 2rem 4rem; 
}
header {
    height: 20vh;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap:2rem;
    list-style-type: none;
    cursor: pointer;
}

.listItem {
    font-size: 1.2rem;
}

.listItem:hover {
    font-size: 1.4rem;
    border-bottom: 2px solid white;
}

.headerButton {
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
}

.headerButton:hover {
    font-weight: 900;
    background-color: white;
    color: rgb(36, 15, 1);
}

#belowHeader {
display: flex;
flex-direction: column;
justify-content: center;
gap: 1.5rem;
align-items: center;
height: 70vh;
}

#belowHeader > h1, #belowHeader > p {
    color: white;
}

#belowHeader > h1 {
    font-size: 3rem;
}
#belowHeader > p {
   font-size: 1.5rem;
}

 #section {
     display: flex;
     height: 100vh;
 }

 #leftSection {
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
   padding: 12rem 6rem;
    gap: 2rem;
    background-color: #440909;
    width: 50vw;
    color: white;
 }

 #rightSection {
    padding: 12rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
 }

 #rightSection > div {
    display: flex;
    flex-direction: column;
    gap:10px;
    border-left: 1px solid #440909;
    padding:  0 1.5rem 3rem 1.5rem;
    position: relative;
}

#rightSection > div > h3 {
    font-size: 1.3rem;
}

.spannie {
    display: inline-block;
    height: 17px;
    width: 13px;
    background-color: #440909;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -3px;
}

#belowSection {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background: url(./shoe02.jpeg) no-repeat center fixed;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, .55);
}
#belowSection > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#belowSection > div > h2 {
    font-size: 2rem;
    font-weight: 800;
}

button {
    border-radius: 15px;
    color: rgb(36, 15, 1);
    padding: 0.5rem 2.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    outline: none;
    border: 0px solid rgb(255, 255, 255);
    background-color: white;
    cursor: pointer;
}

button:hover {
    font-weight: 800;
    color: white;
   background-color: rgb(204, 108, 44);
 
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    height: 20vh;
    font-weight: bold;
}

#footerDiv1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}